*.npy
*.npz
*.pkl
*.png
*.pdf
*.zip
generated/*
nn_models/*
data/*
data(copy)/*
.github/
.idea/
**/c_generated_code/
**/__pycache__/
.vscode/
data (copy)2/*
dataold/
dataclean/
data2/
scripts/backup_random.py
*.json
src/safe_mpc/plut.py
data (copy)/*
data (another copy)/*
data22/*